/.idea
/.vscode
/vendor/srmklive/paypal/tests/Mocks/samples/sample2.pdf
/vendor/srmklive/paypal/tests/Mocks/samples/sample.pdf
.env
storage/installed
storage/uploads/
storage/
bootstrap/cache/
/uploads/*
/vendor/
/storage/debugbar/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/laravel.log